img {
    max-width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 60px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #281fdc;
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #010101;
    font-size: 16px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #281fdc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px; /* Adjust the font size as needed */
    font-weight: bold;
}

button:hover {
    background-color: #0ecd25;
}

#result {
    margin-top: 20px;
    font-size: 14px; /* Adjust the font size as needed */    
    font-weight: bold;
    line-height: 2;
}

#resultSection h2 {
    color: #0ecd25;
    font-size: 18px; /* Adjust the font size as needed */
}
